#App {
  margin: 15px;
  text-align: center;
  border: 2px solid grey;
  border-radius: 7px ;
  min-height: 75vh;
  
}

#App-header {
  margin: 15px;
  border:solid;
  border-radius: 7px ;
  background-color: #282c34;
  height: 25vh;
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#App-content {
  margin: 15px;
  text-align: center;
  border: 2px solid grey;
  border-radius: 7px ;
  min-height: 50vh;
}

#App-link {
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: lightgray;
  text-decoration: none;
  margin: 5px;
}
#passConf{
  text-align: left;
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
